#content {
  width: 30%;
  height: 200px;
  border: 1px solid #000000;
  padding: 5px;
  text-align: center;
  display: table;
}

#content div {
  display: table-cell;
  vertical-align: middle;
}

.top {
  margin-top: 80px;
}

.navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse-center {
  text-align: center;
}

.ecolor:hover {
  background-color: #3f6c6d;
}

.bcr{
  border-right: 0.25px solid #3f6c6d;
}
.bcl{
  border-left: 0.25px solid #3f6c6d;
}

.holder {
  position: relative;
}
	
.on-top {
  position: absolute;
  opacity: 0;
  transition: all 200ms ease-in-out;
  top: 0px;
  left: 0px;
}

.on-top:hover {
  opacity: 1;
}

.btn2 {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 3px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn2:hover, .btn2:focus {
  text-decoration: none;
}

.btn2:focus, .btn2.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn2.disabled, .btn2:disabled {
  opacity: 0.65;
}

.btn2:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn2:not(:disabled):not(.disabled):active, .btn2:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn2.disabled,
fieldset:disabled a.btn2 {
  pointer-events: none;
}

.a2 {
  color: 	#6c6c6c;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.a2:hover {
  color: #d0d0d0;
  text-decoration: none;
}

.a2:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

.a2:not([href]):not([tabindex]):hover, .a2:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

.a2:not([href]):not([tabindex]):focus {
  outline: 0;
}